:root {
    --bg-main: #f8f8fc;
    --text-main: #1d1d24;
    --text-soft: #777782;
    --border: #d7d7dc;
    --white: #ffffff;
    --black: #1d1d24;
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;

    background: #f8f8fc;
    color: var(--text-main);

    font-family:
        Arial,
        Helvetica,
        sans-serif;
}

body,
button,
input,
select,
textarea {
    font-family:
        Arial,
        Helvetica,
        sans-serif;
}

button,
input,
select,
textarea {
    font: inherit;
}

button {
    color: inherit;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

p {
    margin-top: 0;
}

::selection {
    background: #1d1d24;
    color: #ffffff;
}