.primary-btn,
.secondary-btn {

    display: inline-flex;

    align-items: center;
    justify-content: center;

    padding: 10px 20px;

    border: 1px solid #d7d7dc;

    border-radius: 0;

    background: transparent;

    color: #1d1d24;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    font-size: 13px;

    font-weight: 600;

    text-decoration: none;

    cursor: pointer;

    transition: 0.2s ease;
}


.primary-btn:hover,
.secondary-btn:hover {

    background: #1d1d24;

    color: #ffffff;

    border-color: #1d1d24;
}


.wide-btn {
    width: 100%;
}

.error-text {
    color: #b33a3a;
}


.empty-state {

    grid-column: 1 / -1;

    padding: 40px;

    text-align: center;
}


.empty-state h2 {
    margin-bottom: 12px;
}


.empty-state p {

    margin-bottom: 20px;

    color: #777782;
}

.list-action {

    display: flex;

    align-items: center;

    gap: 12px;

    flex-wrap: wrap;
}

.sort-box {

    display: flex;

    align-items: center;

    gap: 12px;
}


.sort-box span {

    color: #303038;

    font-size: 13px;

    font-weight: 600;
}


.sort-box select {

    box-sizing: border-box;

    height: 40px;

    min-width: 300px;

    padding: 0 20px;

    border: 1px solid #d7d7dc;

    border-radius: 0;

    background: rgba(255, 255, 255, 0.35);

    color: #303038;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    font-size: 14px;

    font-weight: 600;

    outline: none;

    cursor: pointer;
}


.sort-box select option {

    background: #ffffff;

    color: #303038;
}